@keyframes hop {
  0% {transform: scaleY(1)};
  30% {transform: scaleY(1)};
  33% {transform: scaleY(0.95)};
  40% {transform: scaleY(1)};
  80% {transform: scaleY(1)};
  83% {transform: scaleY(0.95)};
  90% {transform: scaleY(1)};
}

.right {
  text-align: right;
}

.grid {
  position: relative;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(12, 1fr);
  overflow: scroll;
  overflow-y: overlay;

  .spacer {
    height: 10vh;
    grid-column: 2 / span 10;
  }

  .about {
    grid-column: 2 / span 10;

    .title {
      margin-top: 5%;
      animation: inleft 2s 1 ease-out;

      img {
        max-width: 100%;
      }
    }

    figure {
      display: flex;
      justify-content: center;
      margin-top: 20%;
    }

    .higuy {
      img {
        animation: hop 5s ease-out infinite; 
      }
      
    }

    article {
      margin-top: 20%;
      color: #eb5160;
      text-shadow: 2px 2px px #000;

      h4 {
        font-size: 4rem;
        margin: 2% 0;
      }

      p {
        font-size: 2rem;
        font-family: "calibri";
      }
    }
  }

  .skills {
    grid-column: 2 / span 10;

    .resume {
      margin-top: 20%;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 70%;
      }
      a {
        text-align: center;
        font-size: 2rem;
        text-shadow: 1px 1px 1px black;
        margin: 0 2%;
        padding: 2% 0;
        width: 30%;
        background-color: black;
        color: rgb(195, 195, 195);
        border: solid #eb5160 10px;
        box-shadow: black 15px 0px;
        transition: 1s;

        &:hover {
          background-color: rgb(195, 195, 195);
          color: black;
        }
      }
    }

    figure {
      display: flex;
      justify-content: center;
      margin: 20% 0;
    }
  }
}

