@-webkit-keyframes inleft {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes inleft {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@-webkit-keyframes hop {
  0% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  30% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  33% {
    -webkit-transform: scaleY(0.95);
            transform: scaleY(0.95);
  }
  40% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  80% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  83% {
    -webkit-transform: scaleY(0.95);
            transform: scaleY(0.95);
  }
  90% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@keyframes hop {
  0% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  30% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  33% {
    -webkit-transform: scaleY(0.95);
            transform: scaleY(0.95);
  }
  40% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  80% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  83% {
    -webkit-transform: scaleY(0.95);
            transform: scaleY(0.95);
  }
  90% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

.right {
  text-align: right;
}

.grid {
  position: relative;
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  overflow: scroll;
  overflow-y: overlay;
}

.grid .spacer {
  height: 10vh;
  -ms-grid-column: 2;
  -ms-grid-column-span: 10;
  grid-column: 2 / span 10;
}

.grid .about {
  -ms-grid-column: 2;
  -ms-grid-column-span: 10;
  grid-column: 2 / span 10;
}

.grid .about .title {
  margin-top: 5%;
  -webkit-animation: inleft 2s 1 ease-out;
          animation: inleft 2s 1 ease-out;
}

.grid .about .title img {
  max-width: 100%;
}

.grid .about figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20%;
}

.grid .about .higuy img {
  -webkit-animation: hop 5s ease-out infinite;
          animation: hop 5s ease-out infinite;
}

.grid .about article {
  margin-top: 20%;
  color: #eb5160;
  text-shadow: 2px 2px px #000;
}

.grid .about article h4 {
  font-size: 4rem;
  margin: 2% 0;
}

.grid .about article p {
  font-size: 2rem;
  font-family: "calibri";
}

.grid .skills {
  -ms-grid-column: 2;
  -ms-grid-column-span: 10;
  grid-column: 2 / span 10;
}

.grid .skills .resume {
  margin-top: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid .skills .resume img {
  width: 70%;
}

.grid .skills .resume a {
  text-align: center;
  font-size: 2rem;
  text-shadow: 1px 1px 1px black;
  margin: 0 2%;
  padding: 2% 0;
  width: 30%;
  background-color: black;
  color: #c3c3c3;
  border: solid #eb5160 10px;
  -webkit-box-shadow: black 15px 0px;
          box-shadow: black 15px 0px;
  -webkit-transition: 1s;
  transition: 1s;
}

.grid .skills .resume a:hover {
  background-color: #c3c3c3;
  color: black;
}

.grid .skills figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20% 0;
}
/*# sourceMappingURL=about.css.map */