//character hopping animation
@keyframes hop {
  0% {transform: scaleY(1)};
  30% {transform: scaleY(1)};
  33% {transform: scaleY(0.95)};
  40% {transform: scaleY(1)};
  80% {transform: scaleY(1)};
  83% {transform: scaleY(0.95)};
  90% {transform: scaleY(1)};
}

//css rule for aligning second description text to the right
.right {
  text-align: right;
}

//paragraph styling
p {
  margin-top: 7vh;
  line-height: 1.2em;
}

//styling for text description and images
.main {
  .title {
    animation: inleft 2s 1 ease-out;
  }

  figure {
    display: flex;
    justify-content: center;
    margin-top: 10%;
  }

  .higuy {
    img {
      width: 50%;
      animation: hop 5s ease-out infinite; 
    }
  }

  .whatcode {
    img {
      max-width: 80%;
    }
  }

  article {
    margin-top: 20%;
    color: #eb5160;
    text-shadow: 2px 2px 2px #000;

    h3 {
      font-size: 3rem;
      margin: 2% 0;
    }

    p {
      font-size: 1.5rem;
    }
  }
}

//styling for resume and skills section
.skills {
  grid-column: 2 / span 10;

  //styling to display resume title with button to link
  .resume {
    margin-top: 20%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 60%;
    }
    a {
      text-align: center;
      font-size: 1rem;
      text-shadow: 1px 1px 1px black;
      margin: 0 2%;
      padding: 2% 0;
      width: 30%;
      background-color: black;
      color: rgb(195, 195, 195);
      border: solid #eb5160 5px;
      // box-shadow: black 15px 0px;
      transition: 1s;

      &:hover {
        background-color: rgb(195, 195, 195);
        color: black;
      }
    }
  }

  //styling for skills image below resume
  figure {
    display: flex;
    justify-content: center;
    margin: 20% 0;

    img {
      width: 60%;
    }
  }
}

//media rules for table
@media screen and (min-width: 640px) {
  .main {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
  }

  .title {
    grid-column: 1 / span 10;
    grid-row: 1 / span 1;
    height: 20vh;

    img {
      object-fit: contain;
    }
  }
  
  .higuy {
    grid-column: 1 / span 5;
    grid-row: 2 / span 1;
    img {
      object-fit: contain;
    }
  }

  .grid .main article p {
    font-size: 2rem;
  }

  .grid .main article h3 {
    font-size: 4rem;
  }

  .wordsone {
    grid-column: 6 / span 5;
    grid-row: 2 / span 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .whatcode {
    grid-column: 6 / span 5;
    grid-row: 3 / span 1;
    img {
      object-fit: contain;
    }
  }
  
  .wordstwo {
    grid-column: 1 / span 5;
    grid-row: 3 / span 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .grid .skills {
    figure {
      margin: 0;
      img {
        transform: scale(0.6);
        height: 100%;
        width: 100%;
      }
    }
  }

}

//media rules for desktop
@media screen and (min-width: 1250px) { 

  .higuy {
    img {
      height: 80vh;
    }
  }

  .whatcode {
    img {
      height: 80vh;
    }
  }

  .grid .skills {

    overflow: hidden;

    .resume {
      margin-top: 10%;
      img {
        transform: scale(0.7);
      }

      a {
        font-size: 2rem;
        padding: 1% 0;
      }
    }
    figure {
      margin: 5% 0;
      img {
        max-height: 120vh;
        object-fit: contain;
        
      }
    }
  }

}

