.title {
  animation: inright 2s 1 ease-out;
}

.first {
  background-image: url(/src/img/filbert-mangundap-QvTrOrhJOJ4-unsplash.jpg);
  background-size: 100rem;
}

.second {
  background-image: url(/src/img/frank-mckenna-4V8JxijgZ_c-unsplash.jpg);
  background-size: 100rem;
}

.third {
  background-size: 100rem;
  background-image: url(/src/img/mark-basarab-1OtUkD_8svc-unsplash.jpg);
}

.fourth {
  background-image: url(/src/img/qingbao-meng-01_igFr7hd4-unsplash.jpg);
  background-size: 100rem;
}

.fifth {
  background-image: url(/src/img/eberhard-grossgasteiger-pBgnT4KH8d4-unsplash.jpg);
  background-size: 100rem;
}

.post {
  width: 100%;
}

.grid {
  overflow: hidden;
}

.content {
  margin: 10% 0;
  height: 50vh;
  border-radius: 2rem;
  background-position: center;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: 2s;

  

  &:hover {
    height: 80vh;
    overflow-y: scroll;

    .filtersmall {
     opacity: 0;
    }

    .filterlarge {
      opacity: 1;
    }

    h4 {
      padding-top: 2vh ;
    }

    .maincontent {
      opacity: 1;
      
    }

    .sub {
      font-size: 0rem;
      opacity: 0;
    }
  }

  &:not(:hover) {

    transition-delay: 1s;

    .filterlarge {
      transition-delay: 0s;
    }

    .filtersmall {
      transition-delay: 2s;
    }

    .maincontent {
      font-size: 0rem;
    }
  }

  .filtersmall {
    position: absolute;
    height: 50vh;
    transform: scaleY(1);
    width: 83.4%;
    background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.5),rgba(0,0,0,0));
    border-radius: 2rem;
    z-index: 1;
    opacity: 1;
    transition: 2s 0s;
  }

  .filterlarge {
    position: absolute;
    height: 80vh;
    width: 83.4%;
    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.5),rgba(0,0,0,0.2));
    border-radius: 2rem;
    z-index: 1;
    opacity: 0;
    transition: 2s 2s;
  }
  
  h4 {
    padding-top: 13vh;
    font-size: 3rem;   
  }

  h6 {
    font-size: 1rem;
  }

  p {
    font-size: 1rem;
  }

  .sub {
    opacity: 1;
  }

  .maincontent {
    opacity: 0;
    margin-bottom: 5rem;
    font-weight: bold;
    text-shadow: 1px 1px 0px #000;
    font-size: 1.5rem;
  }

  h4, h6, p {
    color: white;
    margin: 0 5%;
    text-shadow: 5px 5px 5px #0076a3;
    z-index: 2;
    transition: 2s;
  }

}

@media screen and (min-width: 640px) {

  .content h4 {
    font-size: 6rem;
  }

  .content h6 {
    font-size: 2rem;
  }

  .content p {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1366px) { 
  
  .main {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
  }

  .title {
    grid-column: 1 / span 11;
    grid-row: 2 / span 1;
    height: 20vh;

    img {
      object-fit: contain;
    }

  }

  .spacer {
    grid-column: 1 / span 11;
    grid-row: 1 / span 1;
  }

  .post {
    z-index: 0;
    transition-delay: 2s;
    &:hover {
      z-index: 5;
      transition-delay: 0s;
    }
  }

  .content {
    width: 100%;
    transition: 1.5s 1s;
    &:hover {
      width: 220%;
    }    
  }

  .num1 { 
    grid-row: 3 / span 1;
    grid-column: 1 / span 5;

  }

  .num2 { 
    grid-row: 3 / span 1;
    grid-column: 7 / span 5;
      
  }

  .num3 { 
    grid-row: 4 / span 1;
    grid-column: 1 / span 5;
  }

  .num4 { 
    grid-row: 4 / span 1;
    grid-column: 7 / span 5;
  }

  .num5 { 
    grid-row: 5 / span 1;
    grid-column: 1 / span 5;
  }

  .num2, .num4 {
    margin-left: 0%;
    transition: 1.5s 1.5s;
    &:hover {
      margin-left: -120%;
    }  
  }

  
  .content {
    margin-bottom: 5vh;

    .filtersmall {
      width: 37.9%;
      transition: 1s 0s;
    }

    .filterlarge {
      height: 80vh;
    }
  }
  

}