.title {
  -webkit-animation: inright 2s 1 ease-out;
          animation: inright 2s 1 ease-out;
}

.first {
  background-image: url(/src/img/filbert-mangundap-QvTrOrhJOJ4-unsplash.jpg);
  background-size: 100rem;
}

.second {
  background-image: url(/src/img/frank-mckenna-4V8JxijgZ_c-unsplash.jpg);
  background-size: 100rem;
}

.third {
  background-size: 100rem;
  background-image: url(/src/img/mark-basarab-1OtUkD_8svc-unsplash.jpg);
}

.fourth {
  background-image: url(/src/img/qingbao-meng-01_igFr7hd4-unsplash.jpg);
  background-size: 100rem;
}

.fifth {
  background-image: url(/src/img/eberhard-grossgasteiger-pBgnT4KH8d4-unsplash.jpg);
  background-size: 100rem;
}

.post {
  width: 100%;
}

.grid {
  overflow: hidden;
}

.content {
  margin: 10% 0;
  height: 50vh;
  border-radius: 2rem;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  -webkit-transition: 2s;
  transition: 2s;
}

.content:hover {
  height: 80vh;
  overflow-y: scroll;
}

.content:hover .filtersmall {
  opacity: 0;
}

.content:hover .filterlarge {
  opacity: 1;
}

.content:hover h4 {
  padding-top: 2vh;
}

.content:hover .maincontent {
  opacity: 1;
}

.content:hover .sub {
  font-size: 0rem;
  opacity: 0;
}

.content:not(:hover) {
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

.content:not(:hover) .filterlarge {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.content:not(:hover) .filtersmall {
  -webkit-transition-delay: 2s;
          transition-delay: 2s;
}

.content:not(:hover) .maincontent {
  font-size: 0rem;
}

.content .filtersmall {
  position: absolute;
  height: 50vh;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  width: 83.4%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  border-radius: 2rem;
  z-index: 1;
  opacity: 1;
  -webkit-transition: 2s 0s;
  transition: 2s 0s;
}

.content .filterlarge {
  position: absolute;
  height: 80vh;
  width: 83.4%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), color-stop(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.2)));
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2));
  border-radius: 2rem;
  z-index: 1;
  opacity: 0;
  -webkit-transition: 2s 2s;
  transition: 2s 2s;
}

.content h4 {
  padding-top: 13vh;
  font-size: 3rem;
}

.content h6 {
  font-size: 1rem;
}

.content p {
  font-size: 1.5rem;
}

.content .sub {
  opacity: 1;
}

.content .maincontent {
  opacity: 0;
  margin-bottom: 5rem;
  font-weight: bold;
  text-shadow: 1px 1px 0px #000;
  font-size: 1.5rem;
}

.content h4, .content h6, .content p {
  color: white;
  margin: 0 5%;
  text-shadow: 5px 5px 5px #0076a3;
  z-index: 2;
  -webkit-transition: 2s;
  transition: 2s;
}

@media screen and (min-width: 640px) {
  .content h4 {
    font-size: 6rem;
  }
  .content h6 {
    font-size: 2rem;
  }
  .content p {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1366px) {
  .main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[11];
        grid-template-columns: repeat(11, 1fr);
  }
  .title {
    -ms-grid-column: 1;
    -ms-grid-column-span: 11;
    grid-column: 1 / span 11;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / span 1;
    height: 20vh;
  }
  .title img {
    -o-object-fit: contain;
       object-fit: contain;
  }
  .spacer {
    -ms-grid-column: 1;
    -ms-grid-column-span: 11;
    grid-column: 1 / span 11;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / span 1;
  }
  .post {
    z-index: 0;
    -webkit-transition-delay: 2s;
            transition-delay: 2s;
  }
  .post:hover {
    z-index: 5;
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
  }
  .content {
    width: 100%;
    -webkit-transition: 1.5s 1s;
    transition: 1.5s 1s;
  }
  .content:hover {
    width: 220%;
  }
  .num1 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / span 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1 / span 5;
  }
  .num2 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / span 1;
    -ms-grid-column: 7;
    -ms-grid-column-span: 5;
    grid-column: 7 / span 5;
  }
  .num3 {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4 / span 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1 / span 5;
  }
  .num4 {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4 / span 1;
    -ms-grid-column: 7;
    -ms-grid-column-span: 5;
    grid-column: 7 / span 5;
  }
  .num5 {
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5 / span 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1 / span 5;
  }
  .num2, .num4 {
    margin-left: 0%;
    -webkit-transition: 1.5s 1.5s;
    transition: 1.5s 1.5s;
  }
  .num2:hover, .num4:hover {
    margin-left: -120%;
  }
  .content {
    margin-bottom: 5vh;
  }
  .content .filtersmall {
    width: 37.9%;
    -webkit-transition: 1s 0s;
    transition: 1s 0s;
  }
  .content .filterlarge {
    height: 80vh;
  }
}
/*# sourceMappingURL=blog.css.map */