.title {
  animation: inleft 2s ease-out 1;
}

.connectdetails {
  width: 100%;
  height: 80vh;
  display: flex; 
  align-items: center;
  overflow: hidden;
}

.connectillustration {
  width: 50%;
  img {
    max-width: 100%;
  }
}

.connectbuttons {
  width: 50%;
  height: 80%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  justify-content: center;

  a {
    height: 25%;

    &:hover {
      img {
        filter:invert(100%);
      }
    }

    img {
      max-width: 100%;
      max-height: 100%;
      transform: scale(0.8);
      filter: invert(0%);
      transition: 1s;
    }
  }
}

@media screen and (min-width: 640px) { 

  .connectdetails {
    height: 70vh;
  }

  .connectbuttons {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    justify-items: center;

    a {
      height: 100%;
    }
  }
}

@media screen and (min-width: 1366px) {
  .connectdetails {
    height: 60vh;
  }
}