@-webkit-keyframes scaleIn {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scaleIn {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes bop1 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  45% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  90% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  95% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes bop1 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  45% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  90% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  95% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes bop2 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  55% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  85% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  90% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  95% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes bop2 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  55% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  85% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  90% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  95% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.logo {
  position: fixed;
  top: 10%;
  height: 90%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 1.5s 2.5s;
  transition: 1.5s 2.5s;
}

.logo figure {
  position: absolute;
  -webkit-animation: scaleIn 3s 1;
          animation: scaleIn 3s 1;
}

.logo figure .drifting {
  width: 80vw;
  padding-bottom: 10%;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
  -webkit-animation: bop1 ease-in 5s 2s infinite;
          animation: bop1 ease-in 5s 2s infinite;
}

.logo figure .dev {
  width: 40vw;
  padding-top: 60%;
  -webkit-animation: bop2 ease-out 5s 2s infinite;
          animation: bop2 ease-out 5s 2s infinite;
}

.index2 {
  z-index: 2;
}

.index1 {
  z-index: 1;
}

@media screen and (min-width: 1250px) {
  .logo figure .drifting {
    width: 50vw;
  }
  .logo figure .dev {
    width: 25vw;
  }
}
/*# sourceMappingURL=title.css.map */