@keyframes leftright {
  0% {background-position-x: 25%};
  25% {background-position-x: 225%};
  50% {background-position-x: 25%};
  75% {background-position-x: -175%};
  100% {background-position-x: 25%};
}

h4, h5, p {
  color: white;
  text-shadow: 5px 5px 5px #0076a3;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem
}

.grid {
  position: relative;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(12, 1fr);
  overflow: scroll;
  overflow-y: overlay;

  .spacer {
    height: 10vh;
    grid-column: 2 / span 10;
  }

  .projects {
    grid-column: 2 / span 10;

    .title {
      margin-top: 5%;
      animation: inright 2s 1 ease-out;

      img {
        max-width: 100%;
      }
    }

    .flowleft {
      flex-direction: row
    }

    .flowright {
      flex-direction: row-reverse;
    }

    .projbox {
      display: flex;
      background-color: black;
      box-shadow: white 0px 0px 20px;
      border-radius: 3rem;
      height: 8rem;
      width: 100%;
      margin: 10% 0;
      transition: 1.5s;
      overflow: hidden;
      

      &:hover {
        height: 70vh;
      }

      &:hover .imagepreview {
        width: 100%; 
        
        .projectoverlay {
          opacity: 1;
          z-index: 1;
        }
      }

      &:hover .descripbox {
        width: 0%;
        opacity: 0;
        h4, h5 {
          opacity: 0;
        }
      }

      &:not(:hover) {
        transition-delay: 2s;
      }

      &:not(:hover) .imagepreview{
        .projectoverlay {
          transition-delay: 0s;
        }
      }

      .imagepreview {
        width: 50%;
        height: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 1.5s 1.5s;

        img {
          max-height: 100%;
          max-width: 100%;
        }

        .projectoverlay {
          position: absolute;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          background-color: rgba(0,0,0,0.3);
          height: 60vh;
          width: 70%;
          opacity: 0;
          transition: 2s 2s;
          z-index: -1;
          

          .titlegit {
            display: flex;
            justify-content: space-between;
          }
        }
      }

      .descripbox {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        opacity: 1;
        transition: 1.5s 1.5s;

        h4, h5 {
          transition: 1.5s;
        }
      }
    }
  }
}

@media screen and (min-width: 640px) {


}