@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Oswald:wght@300&display=swap');


// Menu dropdown animation
@keyframes dropdown {
  0% {display: block;
      opacity: 0};
  50% {opacity: 0};
  100% {opacity: 1;};
}

// Title animations
@keyframes inleft {
  0% {transform: translateX(-150%)};
  100% {transform: translateX(0%)};
}

@keyframes inright {
  0% {transform: translateX(150%)};
  100% {transform: translateX(0%)};
}

@keyframes twitch {
  1% {transform: rotate(2deg);}
  3%{transform: rotate(-2deg);}
  5% {transform: rotate(2deg);}
  7%{transform: rotate(-2deg);}
  9% {transform: rotate(2deg);}
  11% {transform: rotate(-2deg);}
  13% {transform: rotate(0deg);}
  11% {transform: rotate(0deg);}
}

// Custom scrollbar css
html::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
  border-radius: 10px;
}

html::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}

html::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: -webkit-gradient(linear,
    left bottom,
    left top,
    color-stop(0.44, rgb(122,153,217)),
    color-stop(0.72, rgb(73,125,189)),
    color-stop(0.86, rgb(28,58,148)));
}

// Margin & padding reset
* {
  margin: 0;
  padding: 0;
}

// link styling reset
a {
  color: white;
  text-decoration: none;
}

// Font styling
h3, h2, h4 {
  font-family: 'Oswald',monospace;
}

p {
  font-family: 'Montserrat','calibri',sans-serif;
}

//Animation delays for twitch animation on menu
.one {
  animation-delay: 2s;
}

.two {
  animation-delay: 1s;
}

.three {
  animation-delay: 2.5s;
}

.four {
  animation-delay: 1.5s;
}

//Website background gradient
#background {
  position: fixed;
  height: 100%;
  width: 100%;
  background: linear-gradient(rgba(0, 32, 70,1), rgba(0, 32, 70,0.7));
}

//sitewide header css
header {
  position: fixed;
  display: flex;
  align-items: center;
  height: 10%;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0,1), rgba(0, 0, 0,0.7));
  z-index: 99;

  h1 {
    color: transparent;
  }

  a { 
    height: 80%;
    margin-left: 3%;
    display: flex;
    
    img {
      max-height: 100%;
      max-width: 100%;
    }
  }
}

//CSS class for hiding h1 title elements
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

//menubutton checkbox css for dropping down nav element
.menubutton {
  appearance: none;
  position: fixed;
  height: 7%;
  width: 7%;
  top: 1.5%;
  right: 3%;
  background-image: url(../../img/menuicon.png);
  background-size: contain;
  background-repeat: no-repeat; 
  background-position: center;
  z-index: 999;

  &:checked ~ nav {
    height: 90%;
    transition-delay: 0s;
    
    a {
      z-index: 5;
    }

    img {
      opacity: 1;
    }

    h2 {
      opacity: 1;
      height: 50%;
    }
  }

  &:not(:checked) ~ nav {
    height: 0%;
    
    a {
      z-index: -5;
      pointer-events: none;
      cursor: default;
    }

    img {
      opacity: 0;
      transition-delay: 0s;
    }

    h2 {
      height: 0%;
      opacity: 0;
      transition-delay: 0s;
    }
  }

  &:checked ~ .hide {
    opacity: 0;
    transition: 1.5s 0s;
  }

  &:not(:checked) ~ .hide {
    opacity: 1;
  }
}

//CSS rule for hiding selected element when nav drops down
.hide {
  opacity: 1;
  transition: 1.5s 1.5s;
}

//nav css for creating drop down menu layout
nav {
  position: fixed;
  top: 10%;
  height: 90%;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0,0.7), rgba(0, 0, 0,0.3));
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  transition: 1.5s 1.5s;
  z-index: 9;

  a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 22.5%;
    padding: 0 8%;
    animation: twitch 3s infinite;
    
    figure {
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: center;
      

      img {
        opacity: 0;
        transition: 1.5s 1.5s;
        max-height: 100%;
        max-width: 100%;
        object-fit: scale-down;
      }
    }

    h2 {
      font-size: 2rem;
      width: 50%;
      padding-left: 10%;
      opacity: 0;
      transition: 1.5s 1.5s;
      text-align: left;
      font-weight: normal;
      letter-spacing: 0.2rem;
      text-shadow: 3px 3px 10px #0076a3;

    }
  }
}

//grid layout css for all pages
.grid {
  position: relative;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(12, 1fr); 
}

//spacer rule for all pages
.spacer {
  height: 10vh;
  grid-column: 2 / span 10;
}

//main content wrapper for all pages
.main {
  grid-column: 2 / span 10;
}

//title rule for all pages
.title {
  margin-top: 5%;
  img {
    max-width: 100%;
    max-height: 100%;
  }
}

//media rule for tablet
@media screen and (min-width: 640px) {
  nav {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    height: 80vh;

    a {
      
      height: 80%;
      width: 40vw;
      margin: auto;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h2 {
        padding: 0;
        font-size: 3rem;
        text-align: center;
      }
      
      figure {
        height: 20vh;
      }
      
    }
  }

  .title {
    max-width: 70%;
  }
}

//media rule for desktop
@media screen and (min-width: 1250px) { 
  nav {

    .left {
      margin-right: 10vw;
      &:hover {
        margin-right: 20vw;
      }
    }
  
    .right {
      margin-left: 10vw;
      &:hover {
        margin-left: 20vw;
      }
    }

    a {
      transition: 2s;
      padding: 0;
      height: auto;
      width: auto;
      margin: 12vh 0;
  
      img {
        transform: scale(1.2);
      }
  
      h2 {
        margin-top: 2vh;
      }
  
      &:hover {
        animation: none;
          
        img {
          transform: scale(1.5);
          transition-delay: 0s;
        }
        h2 {
          color: #eb5160;
          text-shadow: 3px 3px 10px #000;
          margin-top: 7vh;
          transition-delay: 0s;
        }
      }
    }
  }
  
}